

body{
    background-color: #f3fbed;
    box-sizing: border-box;    
    cursor: url("./images/cursor.svg"), pointer;

}


header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.drishtiButton{
    margin-top: 25px;
    background-color: transparent;
    border: none;
    flex-shrink: 0; 
    display: flex;
    cursor: url("./images/filled\ cursor.svg"), pointer;

}

.historyContainer{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-content: flex-end;  
    margin-top: -105px;
    margin-bottom: 50px;
   
}
.history{
    width: 50px;
    background-color: transparent;
    border: none;
    margin-right: 20px;
    cursor: url("./images/filled\ cursor.svg"), pointer;

}
.historyImg{
padding-left: -20px;
transition: transform 0.6s ease;

}.historyImg:hover{
    transform: scale(1.2);
   
}.historyImg:active{
     transform: scale(0.9);
}


#inputText{
    margin-top: 50px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid #000;
    display: flex;
    width: 100%;
    height: 80px;
    font-family: "heimat-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding-left: 20px;
  
}
#inputText:focus{
    outline: none;
    border: 1px solid #000;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650 px;
    flex-shrink: 0;
    border: 1px solid #000;
    margin-top: 10px;
}

.numberContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 580px; 
    margin-top: 20px;
    row-gap: 20px;
}



.numberRow1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    padding-top: 20px;
}

.erase{
    background-color: transparent;
    border: none;
    width: 60px;
    transition: transform 0.6s ease;
    cursor: url("./images/filled\ cursor.svg"), pointer;

}.erase:hover{
    transform: scale(1.2);
   
}.erase:active{
     transform: scale(0.5);
}

.backspace{
    background-color: transparent;    
    border: none;
    width: 70px; 
    margin-left: 15px; 
    transition: transform 0.6s ease;
    margin-top: 20px;
    cursor: url("./images/filled\ cursor.svg"), pointer;

}.backspace:hover{
     transform: scale(1.2);
   
}.backspace:active{
    transform: scale(1.5);
}



.squareRoot{
    background-color: transparent;
    border: none;
    width: 70px;
    transition: transform 0.4s ease;
    margin-top: 20px;
    cursor: url("./images/filled\ cursor.svg"), pointer;
}.squareRoot:hover{
    transform: scale(1.2);
}.squareRoot:active{
    transform: scale(0.5);
}

.divide{
    background-color: transparent;
    border: none;
    width: 60px;
    margin-top: 20px;  
    transition: transform 0.4s ease;
    cursor: url("./images/filled\ cursor.svg"), pointer;
}.divide:hover{
    transform: scale(1.2);
}.divide:active{
    transform: rotateZ(30deg);
}



.numberRow2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    
}

.one{
    background-color: transparent;
    border: none;
    width: 80px;
    transition: transform 0.6s ease;
    cursor: url("./images/filled\ cursor.svg"), pointer;
}.one:hover{
     transform: scale(1.2);
   
}.one:active{
    transform: scale(0.5);
}

.two{
    background-color: transparent;
    border: none;
    width: 80px; transition: transform 0.6s ease;
    margin-left: 10px;
    cursor: url("./images/filled\ cursor.svg"), pointer;
}.two:hover{
     transform: scale(1.2);
   
}.two:active{
    transform: scale(0.5);
}   


.three{
    background-color: transparent;
    border: none;
    width: 100px;
     transition: transform 0.6s ease;
     cursor: url("./images/filled\ cursor.svg"), pointer;
}.three:hover{
     transform: scale(1.2);
   
}.three:active{
    transform: scale(0.5);
}


.multiply{
    background-color: transparent;
    border: none;
    width: 80px;
    transition: transform 0.6s ease;
    cursor: url("./images/filled\ cursor.svg"), pointer;
}.multiply:hover{
     transform: scale(1.2);
   
}.multiply:active{
    transform: scale(0.5);
}




.numberRow3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    column-gap: 65px;
}

.four{
    background-color: transparent;
    border: none;
    width: 95px;
     transition: transform 0.6s ease;
     cursor: url("./images/filled\ cursor.svg"), pointer;
}.four:hover{
     transform: scale(1.2);
   
}.four:active{
    transform: scale(0.5);
}


.five{
    background-color: transparent;
    border: none;
    width: 78px;
    margin-left: -10px;
     transition: transform 0.6s ease;
     cursor: url("./images/filled\ cursor.svg"), pointer;
}.five:hover{
     transform: scale(1.2);
   
}.five:active{
    transform: scale(0.5);
}


.six{
    background-color: transparent;
    border: none;
    width: 73px;
    transition: transform 0.6s ease;
    cursor: url("./images/filled\ cursor.svg"), pointer;
}.six:hover{
     transform: scale(1.2);
   
}.six:active{
    transform: scale(0.5);
}


.add{
    background-color: transparent;
    border: none;
    width: 101px;
    transition: transform 0.6s ease;
    cursor: url("./images/filled\ cursor.svg"), pointer;
}.add:hover{
     transform: scale(1.2);
   
}.add:active{
    transform: scale(0.5)
    rotateZ(-50deg);
}




.numberRow4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    column-gap: 35px;
    margin-left: -15px;
}

.seven{
    background-color:transparent;
    border: none;
    width: 130px;
    transition: transform 0.6s ease;
    cursor: url("./images/filled\ cursor.svg"), pointer;
}.seven:hover{
     transform: scale(1.2);
   
}.seven:active{
    transform: scale(0.5);
}


.eight{
    background-color: transparent;
    border: none;
    width: 78px;
     transition: transform 0.6s ease;
     cursor: url("./images/filled\ cursor.svg"), pointer;
}.eight:hover{
     transform: scale(1.2);
   
}.eight:active{
    transform: scale(0.5);
}


.nine{
    background-color: transparent;
    border: none;
    width: 130px;
    transition: transform 0.6s ease;
    cursor: url("./images/filled\ cursor.svg"), pointer;
}.nine:hover{
     transform: scale(1.2);
   
}.nine:active{
    transform: scale(0.5);
}


.minus{
    background-color: transparent;
    border: none;
    width: 74px;
    transition: transform 0.6s ease;
    cursor: url("./images/filled\ cursor.svg"), pointer;
}.minus:hover{
     transform: scale(1.2);
   
}.minus:active{
    transform: scale(0.3);
}




.numberRow5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    column-gap: 35px;   
    margin-left: 30px; 
    margin-top: -40px;
}

.point{
    background-color: transparent;
    border: none;
    width: 84px;
     transition: transform 0.6s ease;
     cursor: url("./images/filled\ cursor.svg"), pointer;
}.point:hover{
     transform: scale(1.2);
   
}.point:active{
    transform: scale(0.5);
}


.zero{
    background-color: transparent;
    border: none;
    width: 23px;
    margin-left: 10px;
     transition: transform 0.6s ease;
     cursor: url("./images/filled\ cursor.svg"), pointer;
}.zero:hover{
     transform: scale(1.2);
   
}.zero:active{
    transform: scale(0.5);
}


.equal{
    background-color: transparent;
    border: none;
    width: 240px;
     transition: transform 0.6s ease;
     cursor: url("./images/filled\ cursor.svg"), pointer;
}.equal:hover{
     transform: scale(1.15);
   
}.equal:active{
    transform: scale(0.5);
}

.logBackground{
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
     top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: 0.5 ease;
    width: 650px;
    height: 500px;

    background-color: #516742e7;
    box-shadow: 0 6px 12px #1f291899;
    border-radius: 4px;
    backdrop-filter: 10px;
}

.logContainer{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;
    width: 650px;
    padding: 40px;
    overflow-y: auto;
}

.textBox{
    display: none;
    flex-direction: column;
    width: 380px;
    font-family: "heimat-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f3fbed;
    border-radius: 2px;
}

.day{
    font-size: 18px;
    margin-top: -10px;
}
.operation{
    padding-top: 10px;
    font-size: 15px;
    opacity: 70%;
    
}
.answer{
    font-size: 18px;
    border-bottom: #455939 1.5px solid;
    width: 380px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.clear{
    position: fixed;
    top: 88%;
    background-color: #3d4e32cc;
    border: none;
    width: 140px;
    font-family: "heimat-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f3fbed;
    border-radius: 2px;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 7px 0px 7px 0px;
    transition: 0.4s ease;
    cursor: url("./images/filled\ cursor.svg"), pointer;
}.clear:hover{
     transform: scale(1.05);
   
}.clear:active{
    transform: scale(1.1);
}


